header {
    font-family: fantasy;
    font-size: x-large;
    background: url("img/remove.gif");
    background-size: contain;
}
h1 {
    color: yellow;
}
h2{
    color: white;
}
h3 {
    color: yellow;
}